.btn-solid {
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(234 88 12 / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(234 88 12 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(241 245 249 / var(--tw-text-opacity));
}

.btn-solid:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(210 65 21 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.btn-solid.disabled {
  cursor: not-allowed;
  --tw-border-opacity: 1;
  border-color: rgb(209 213 219 / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(203 213 225 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(148 163 184 / var(--tw-text-opacity));
}

.btn-borderless {
  --tw-text-opacity: 1;
  color: rgb(234 88 12 / var(--tw-text-opacity));
}

.btn-borderless:hover {
  --tw-text-opacity: 1;
  color: rgb(194 45 1 / var(--tw-text-opacity));
}

.btn-borderless-green {
  --tw-text-opacity: 1;
  color: rgb(22 163 74 / var(--tw-text-opacity));
}

.btn-borderless-green:hover {
  --tw-text-opacity: 1;
  color: rgb(194 45 1 / var(--tw-text-opacity));
}

.btn-outline {
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(234 88 12 / var(--tw-border-opacity));
  padding-left: 1rem;
  padding-right: 1rem;
  --tw-text-opacity: 1;
  color: rgb(234 88 12 / var(--tw-text-opacity));
}

.btn-outline:hover {
  --tw-border-opacity: 1;
  border-color: rgb(210 65 21 / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(255 237 213 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(194 45 1 / var(--tw-text-opacity));
}

.btn-borderless.disabled {
  cursor: not-allowed;
  --tw-text-opacity: 1;
  color: rgb(156 163 175 / var(--tw-text-opacity));
}

.btn-outline-secondary {
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(229 231 235 / var(--tw-border-opacity));
  padding-left: 1rem;
  padding-right: 1rem;
  --tw-text-opacity: 1;
  color: rgb(71 85 105 / var(--tw-text-opacity));
}

.btn-outline-secondary:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(241 245 249 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity));
}

.btn-outline.disabled {
  cursor: not-allowed;
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(209 213 219 / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(203 213 225 / var(--tw-bg-opacity));
  padding-left: 1rem;
  padding-right: 1rem;
  --tw-text-opacity: 1;
  color: rgb(148 163 184 / var(--tw-text-opacity));
}

.btn-outline-white {
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(229 231 235 / var(--tw-border-opacity));
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.btn-sm.btn-solid {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.btn-base.btn-solid {
  padding-left: 1rem;
  padding-right: 1rem;
}

.btn-lg.btn-solid {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.btn-sm {
  line-height: 2;
}

.btn-base,
.btn-lg {
  line-height: 2.5;
}

.btn-xl {
  line-height: 2.75;
  width: 100%;
}

@media (min-width: 1024px) {
  .btn-xl {
    width: 24rem;
  }
}

.btn-rounded-selected {
  border-radius: 0.5rem;
  --tw-bg-opacity: 1;
  background-color: rgb(253 186 116 / var(--tw-bg-opacity));
  padding: 0.25rem 0.75rem;
  font-weight: 600;
}

.btn-selected {
  --tw-bg-opacity: 1;
  background-color: rgb(253 186 116 / var(--tw-bg-opacity));
  padding: 0.25rem 0.75rem;
  font-weight: 600;
}

.btn-unselected {
  padding: 0.25rem 0.75rem;
  font-weight: 500;
  --tw-text-opacity: 1;
  color: rgb(100 116 139 / var(--tw-text-opacity));
}

.btn-selected.disabled {
  cursor: not-allowed;
  --tw-bg-opacity: 1;
  background-color: rgb(253 186 116 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(148 163 184 / var(--tw-text-opacity));
}

.btn-rounded-selected.disabled {
  cursor: not-allowed;
  border-radius: 0.5rem;
  --tw-bg-opacity: 1;
  background-color: rgb(253 186 116 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(148 163 184 / var(--tw-text-opacity));
}

.btn-unselected.disabled {
  cursor: not-allowed;
}

.btn-solid-blue {
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(14 165 233 / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(59 130 246 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.btn-solid-blue:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(37 99 235 / var(--tw-bg-opacity));
}

.btn-sm.btn-solid-blue {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.btn-base.btn-solid-blue {
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (min-width: 1024px) {
  .btn-sm {
    line-height: 1.8;
  }
  .btn-base {
    line-height: 2.3;
  }
  .btn-lg {
    line-height: 2.7;
  }
}

.btn-smedium.btn-solid {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 5px;
  padding-bottom: 5px;
}

@media (min-width: 1024px) {
  .btn-smedium.btn-solid {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}
